
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
/*
p, h1, h4, img, a, table, section, select, form, td, tr, span, input, label, li, ol, ul{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}
    */
h1{
    color: chartreuse;
    font-style: italic;
}
p{
    color: crimson;
    font-style: oblique;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
}
/*
strong{
    color: #22D4FD;
}
*/
.static{
    color: #22D4FD;
}

li{
    color: blueviolet;

}
.presentacion{
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}
.presentacion_contenido{
    width: 615px;
}
.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
}
.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion_contenido_link{
    font-weight: 300 !important;
}
.presentacion_contenido_link2{
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    color: blue;
}